body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.kartu-profil {
  background: #fff;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 25px 20px;
  transition: all 0.3s ease;
}

.kartu-profil img{
  width: 150px;
  border-radius: 50%;
}
